footer
.footer-content.container.d-flex.justify-content-center.mt-5.pb-4
    a.text-white.footer-link(href='') килограмм
    a.text-white.footer-link(href='') вютубе
    a.text-white.footer-link(href='') миллиграмм